{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

     <title>MPG prediction usecase</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Christian Zhirzhan">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <div class="container">

     </div>


     <!-- HOME -->


     <div class="container">
          {% block content%}
          {% endblock %}

     </div>

     <!-- FOOTER -->
     <footer data-stellar-background-ratio="5">
          <div class="container" style="position: absolute; padding: 0px;">
               <div class="row">



                    <div class="col-md-12 col-sm-12 border-top">
        
                         <div class="col-md-2 col-sm-2 text-align-center">
                              <div class="angle-up-btn">
                                   <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i
                                             class="fa fa-angle-up"></i></a>
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </footer>
</body>

</html>