{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>

     <title>MPG prediction usecase</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="Christian Zhirzhan">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

     <style>
          h1 {
               text-align: center;
          }

          p {
               text-align: center;
          }

          .cuerpo {
               text-align: center;
          }

          .containe {
               text-align: center;
          }

          .c{
               text-align: center;
          }
     </style>

</head>

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <div class="cuerpo">
          <div class="contenedor">
               {% block content%}
               {% endblock %}
          </div>
     </div>
</body>

</html>